# Byte compiled
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/

# Editor/IDE
.vscode/
.idea/
*.swp


# Docker
.dockerignore

# Environmental Variable
.env

# Files type to ignore
*.gz
pageviews.txt